@{
    ViewData["Title"] = "Fish Index";
    string imagePath = ViewBag.ImagePath;
}
@model List<FishDto>
<a class="btn btn-primary" asp-controller="Fish" asp-action="Create">Create Fish</a>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
            <td>Image</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>
                    @{
                        string imageUrl = string.IsNullOrEmpty(item.Image) ? "/images/empty-image.jpg" : $"{imagePath}{item.Image}";
                    }
                    <img src="@imageUrl" alt="@item.Image">
                </td>
                <td>
                    <a class="btn btn-warning" asp-controller="Fish" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a class="btn btn-danger" asp-controller="Fish" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


